El objetivo de esta entrega es extraer los datos de la API de yahoo finance que me permitan evaluar los precios de cierre de las acciones denominadas las 7 Magnificas. Una vez obtenidos los datos cargarlos a Amazon Redshift

In [1]:
#pip install yfinance

#Importo Bibliotecas Basicas
import pandas as pd
import numpy as np
#importar yfinance (Previa instalacion de la API: pip install yfinance) para tener datos de mercado financiero
import yfinance as yf
#Importar librerias de Visualizacion
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

# 1) Obtengo los registros de la API

In [2]:
#1.1) Creo una lista en la que incluyo los tickers de las Acciones denominadas 7 Maginifcas
tickers = ['MSFT','GOOG','AAPL','AMZN', 'META', 'TSLA', 'NVDA']

# Descargo el precio de Cierre de las Acciones antes mencionada
data = {}
for ticker in tickers:
    data[ticker] = yf.download(ticker, period="YTD", interval="1d")['Close']

# Creo DataFrame 
df = pd.DataFrame(data
                  )
#Imprimo el DataFrame
print(df)
print(df.columns)

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

                  MSFT        GOOG        AAPL        AMZN        META  \
Date
2024-01-02  370.869995  139.559998  185.639999  149.929993  346.290009
2024-01-03  370.600006  140.360001  184.250000  148.470001  344.470001
2024-01-04  367.940002  138.039993  181.910004  144.570007  347.119995
2024-01-05  367.750000  137.389999  181.179993  145.240005  351.950012
2024-01-08  374.690002  140.529999  185.559998  149.100006  358.660004
...                ...         ...         ...         ...         ...
2024-04-30  389.329987  164.639999  170.330002  175.000000  430.170013
2024-05-01  394.940002  165.570007  169.300003  179.000000  439.190002
2024-05-02  397.839996  168.460007  173.029999  184.720001  441.679993
2024-05-03  406.660004  168.990005  183.380005  186.210007  451.959991
2024-05-06  413.540009  169.830002  181.710007  188.699997  465.679993

                  TSLA        NVDA
Date
2024-01-02  248.419998  481.679993
2024-01-03  238.449997  475.690002
2024-01-04  237.929993  479.980011
2024-01-05  237.490005  490.970001
2024-01-08  240.449997  522.530029
...                ...         ...
2024-04-30  183.279999  864.020020
2024-05-01  179.990005  830.409973
2024-05-02  180.009995  858.169983
2024-05-03  181.190002  887.890015
2024-05-06  184.759995  921.400024

[87 rows x 7 columns]
Index(['MSFT', 'GOOG', 'AAPL', 'AMZN', 'META', 'TSLA', 'NVDA'], dtype='object')

In [4]:
# Mover el índice a la primera columna y reorganizar las columnas
df.reset_index(inplace=True)  # Reiniciar el índice y mover Date a una columna
df = df[['Date', 'MSFT', 'GOOG', 'AAPL', 'AMZN', 'META', 'TSLA', 'NVDA']]  # Reorganizar las columnas según sea necesario
df['Date'] = pd.to_datetime(df['Date'])  # Convertir la columna Date a tipo datetime

#Imprimo el DataFrame, sus columnas y tipos de datos contenidos en las mismas
print(df)
print(df.columns)
print(df.dtypes)

         Date        MSFT        GOOG        AAPL        AMZN        META  \
0  2024-01-02  370.869995  139.559998  185.639999  149.929993  346.290009
1  2024-01-03  370.600006  140.360001  184.250000  148.470001  344.470001
2  2024-01-04  367.940002  138.039993  181.910004  144.570007  347.119995
3  2024-01-05  367.750000  137.389999  181.179993  145.240005  351.950012
4  2024-01-08  374.690002  140.529999  185.559998  149.100006  358.660004
..        ...         ...         ...         ...         ...         ...
82 2024-04-30  389.329987  164.639999  170.330002  175.000000  430.170013
83 2024-05-01  394.940002  165.570007  169.300003  179.000000  439.190002
84 2024-05-02  397.839996  168.460007  173.029999  184.720001  441.679993
85 2024-05-03  406.660004  168.990005  183.380005  186.210007  451.959991
86 2024-05-06  413.540009  169.830002  181.710007  188.699997  465.679993

          TSLA        NVDA
0   248.419998  481.679993
1   238.449997  475.690002
2   237.929993  479.980011
3   237.490005  490.970001
4   240.449997  522.530029
..         ...         ...
82  183.279999  864.020020
83  179.990005  830.409973
84  180.009995  858.169983
85  181.190002  887.890015
86  184.759995  921.400024

[87 rows x 8 columns]
Index(['Date', 'MSFT', 'GOOG', 'AAPL', 'AMZN', 'META', 'TSLA', 'NVDA'], dtype='object')
Date    datetime64[ns]
MSFT           float64
GOOG           float64
AAPL           float64
AMZN           float64
META           float64
TSLA           float64
NVDA           float64
dtype: object

In [5]:
#Cargo el DataFrame como CSV
df.to_csv('Entregable1_Santiago_Hourcade.csv', index=False)